body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
}

.details {
  display: flex;
  flex-direction: column;
}

.other_infos {
  display: flex;
}

.image {
  height: 400px;
  width: 500px;
  border: 2px black solid;
  margin-right: 50px;
}

.image img {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 30px;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.program-table {
  width: 80%; /* Adjust as needed */
}
