/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
} */

body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Inter", "sans-serif";
  background-color: #f5f7fb;
}

a {
  text-decoration: none;
}

.main-header {
  position: relative;
  width: 100%;
  height: 350px;
}

/* .background-image {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-image: url("pattern.png");
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
} */

.top-bar__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.top-bar__section.scrolled {
  background-color: black;
  color: white;
}

.top-bar__section.scrolled .nav-items a {
  color: white;
}

.top-bar__section.scrolled .brand-name {
  color: white;
}

.brand {
  margin-left: 60px;
}

.brand img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.brand-name {
  display: inline-block;
  color: black;
  font-family: "Crimson Text", serif;
  margin: 0.67em;
}

.nav-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 400px;
  justify-content: space-between;
  /* font-family: "Roboto", sans-serif; */
}

.nav-items a {
  text-decoration: none;
  color: #2f3030;
}

.nav-items a:hover {
  color: black;
}

.auth {
  margin-right: 30px;
}

.auth-button {
  background-color: #3b83f7;
  padding: 15px 25px;
  border-radius: 7px;
  color: white;
  border: none;
  margin: 0 10px;
}

.auth :nth-child(2):hover {
  cursor: pointer;
  background-color: #2976f2;
}

.signup-button {
  background-color: transparent;
  color: #3b83f7;
  font-weight: 500;
}

.signup-button:hover {
  color: #619cfa;
  cursor: pointer;
}

/* ...........nav bar style  */

.nav-text {
  margin-top: 115px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.search-bar {
  margin: 40px;
  /* font-family: "Roboto", sans-serif; */
  font-weight: bold;
  font-size: 1.9rem;
}

.search-input {
  width: 100%;
  border: none; /* Remove the border */
  outline: none; /* Remove the outline */
  box-shadow: none; /* Remove the box shadow */
  -webkit-appearance: none; /* Remove default styles on iOS Safari */
  -moz-appearance: none; /* Remove default styles on Firefox */
  appearance: none; /* Remove default styles on modern browsers */
}

.search-input,
.search-input::placeholder {
  font-size: medium;
  padding-left: 10px;
  border-radius: 8px;
}

.search-wrapper {
  border: 1.5px rgb(168, 168, 168) solid;
  border-radius: 7px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  border-right: 1.5px solid #828282;
  height: 30px;
  margin: 0 10px; /* Add margin to create space between the divider and other elements */
}

.search {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.search-field {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.search-dropdown {
  width: 15%;
  border: none;
  border-radius: 7px;
  color: #828282;
  font-size: medium;
  padding-left: 30px;
}

.search-button {
  background-color: #3b83f7;
  padding: 15px 25px;
  border-radius: 7px;
  color: white;
  border: none;
  margin: 7px 8px;
}

.search-button:hover {
  background-color: #2276fd;
  cursor: pointer;
}

main {
  margin: 10px 40px;
  display: flex;
}

/* filter section */

.filter-section {
  width: 35%;
  margin-right: 10px;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 25px 0;
}

.filter-title {
  font-weight: bold;
  font-size: 1.44rem;
}

.clear-filters {
  color: #00f;
  cursor: pointer;
}

.filter-group {
  margin-bottom: 15px;
}

.mapButton {
  background-color: #2276fd;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
}

.mapButton:hover {
  cursor: pointer;
}

.filter-group label {
  display: block;
  margin-bottom: 7px;
  color: #828282;
}

.filter-group input[type="checkbox"] {
  margin-right: 10px;
}

.filter-group-header {
  margin-bottom: 8px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1.15rem;
}

/* mainsection */

.profile-image__container {
  height: 200px;
  margin: 20px;
  width: 300px;
}

.profile-image__container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card-container {
  display: flex;
  background-color: white;
  align-items: center;
  border-radius: 12px;
}

.des {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.des-button {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
  color: #828282;
}

.des__bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(26 29 44);
  border-radius: 8px;
  border: none;
  width: 130px;
}

.des__bookmark:hover {
  cursor: pointer;
  background-color: black;
}

.des__bookmark i {
  color: white;
}

.des-special {
  background-color: #e4f0fa;
  color: #2276fd;
  margin-right: 10px;
}

.detail-container h3 {
  margin: 0;
}

.detail-container h5 {
  margin: 10px 0;
  color: #828282;
  font-weight: 400;
}

.des__bookmark h4 {
  margin: 5px;
  color: white;
  font-weight: normal;
}

.detail-container p {
  color: #828282;
}

.contact-card {
  border: 1.5px rgb(168, 168, 168) solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 350px;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}

.contact-card__detail {
  color: #828282;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.info {
  display: flex;
  align-items: center;
}

svg {
  margin: 6px 12px;
  fill: #828282;
}

.more-info__buttons {
  display: flex;
  flex-direction: column;
}

.more-info__buttons button,
.linkStyle button {
  margin: 0 12px;
  border: 1.5px rgb(168, 168, 168) solid;
  border-radius: 8px;
  padding: 8px;
  font-weight: 500;
}

.more-info__buttons button:hover {
  cursor: pointer;
}

.more-info__buttons button:first-child,
.linkStyle button {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.more-info__buttons button:nth-child(2) {
  background-color: #2276fd;
  color: white;
}

.active {
  color: black;
  border-bottom: 1px solid black;
}

/* loop */

.all-cards {
  display: flex;
  flex-direction: column;
}

.feature-card {
  margin-bottom: 8px;
}

/* search bar */

.suggestion-list {
  margin: 0;
  padding: 0;
}

.suggestion-list li {
  list-style: none;
  font-size: medium;
  font-weight: normal;
  margin: 10px;
  color: black;
}

.autocomplete {
  width: 100%;
  margin: 2px 0;
}

.autocomplete:hover {
  cursor: pointer;
  background-color: #e5e4e2;
}
